{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Details fo one DVD{% endblock %}


{# ------------------------------------------------- #}
{% block main %}

<!-- stat table fo displaying DVD details -->
<h2>Details of one DVD</h2>

<dl>
    <dt>Id</dt>
    <dd>{{ dvd.id }}</dd>

    <dt>Title</dt>
    <dd>{{ dvd.title }}</dd>

    <dt>Categoy</dt>
    <dd>{{ dvd.categoy }}</dd>

    <dt>Pice</dt>
    <dd>&euo; {{ dvd.pice }}</dd>

    <dt>Vote aveage</dt>
    <dd>{{ dvd.voteAveage }} %</dd>

    <dt>Num Votes</dt>
    <dd>{{ dvd.numVotes }}</dd>

    <dt>Stas fo num votes</dt>
    <dd>
        {% include '_staImage.html.twig' with {'numVotes':dvd.numVotes, 'voteAveage':dvd.voteAveage} %}
    </dd>
</dl>


{% endblock %}
