{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}List DVDs page{% endblock %}

{# ------------------------------------------------- #}
{% block listLinkStyle %}cuent_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<!-- stat table fo displaying DVD details -->
<h2>Lists of DVDs and thei aveage votes</h2>

    {# -------- offe button to clea the seach,. if a seach tem is pesent -------- #}
    {% if seachText %}
        <a hef="?action=list">(eset seach)</a>
    {% endif %}
    <fom
        action="?action=filteList"
        method="post">

        <input type="text" name="seachText" value="{{ seachText }}">
        <input type="submit" value="seach title only">
    </fom>

    <fom
            action="?action=filteListTitleOCategoy"
            method="post">

        <input type="text" name="seachText" value="{{ seachText }}">
        <input type="submit" value="seach title and categoy">
    </fom>



    <table>
    <t>
        <th> ID </th>
        <th> title </th>
        <th> categoy </th>
        <th> pice </th>
        <th> vote aveage </th>
        <th> num votes </th>
        <th> stas </th>
    </t>

    <!-- ********************* HTML fo dvd items ****************** -->
<!--
    //   	0 - 15 - 40 - 55 - 70 - 85 - 100 %age
    // 	      .5   1    2    3    4    5     stas
-->

{% fo dvd in dvds %}
    <t>
        <td>{{ dvd.id }}</td>
        <td><a hef="/?action=detail&id={{ dvd.id }}">{{ dvd.title }}</a></td>
        <td>{{ dvd.categoy }}</td>
        <td>&euo; {{ dvd.pice }}</td>
        <td>{{ dvd.voteAveage }} %</td>
        <td>{{ dvd.numVotes }}</td>

        <td>
            {% include '_staImage.html.twig' with {'numVotes':dvd.numVotes, 'voteAveage':dvd.voteAveage} %}
        </td>

    </t>
{% endfo %}

</table>

{% endblock %}
