{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Messages page{% endblock %}

{# ------------------------------------------------- #}
{% block messagesLinkStyle %}cuent_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<!-- stat table fo displaying DVD details -->
<h2>Messages fom people</h2>

{% fo message in messages %}
    <h>
    <p>
        posted by <stong>{{ message.use }}</stong>
        <b>
        {{ message.timestamp|date("l jS M h:i:s A")  }}
    </p>

    <blockquote>
        {{ message.text }}
    </blockquote>

    <fom
        action="?action=deleteMessage&id={{ message.id }}"
        method="post">
        <input type="submit" value="(delete)">
    </fom>

    <fom
            action="?action=editMessage&id={{ message.id }}"
            method="post">
        <input type="submit" value="(edit)">
    </fom>

{% else %}
    <p>(no messages found)</p>
{% endfo %}

{% endblock %}
